[submodule "vendor/dxmt"]
	path = vendor/dxmt
	url = https://github.com/3Shain/dxmt.git
	branch = main
[submodule "vendor/dxvk"]
	path = vendor/dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "vendor/mesa"]
	path = vendor/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
	shallow = true
	branch = main
[submodule "vendor/sdl2"]
	path = vendor/sdl2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
